<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button (click)="logout()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-window-close"></span>
      </button>
      <a class="navbar-brand" href="#">Hola {{user.firstName}} {{user.lastName}} <i class="fas fa-user mx-2"></i></a>
      
    </div>
  </nav>