
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10">
            <app-header-detail
                [paramsHeaders]="paramsHeaders"></app-header-detail>
        </div>
        <div class="col-sm-12 col-md-10">
            <app-body-detail
               [paramsBody]="paramsBody" ></app-body-detail>
        </div>
        <div class="col-sm-12 col-md-10">
            <app-footer-detail
            [idMovie]="idMovie"></app-footer-detail>
        </div>
    </div>
</div>