<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4 display-4">Reparto</h2>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-2">
            <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/actor-tom-hardy-arrives-at-the-los-angeles-premiere-mad-max-news-photo-1628672495.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Name Actor</p>
                </div>
              </div>
        </div>
    </div>
</div>