<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4 display-4">Reparto</h2>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-2" *ngFor="let cast of listCast">
            <div class="card">
                <img [src]="cast.profile_path!==null? baseURL+cast.profile_path:'https://www.pngkit.com/png/detail/204-2043672_gender-male-comments-username-icon.png' " class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">{{cast.name}}</p>
                </div>
              </div>
        </div>
    </div>
</div>