

<div
	id="carouselExampleControls"
	class="carousel slide container"
	data-bs-ride="carousel"
>
	<div class="carousel-inner">
	
		<div *ngFor="let movie of listMovieNowPlaying;let i = index"  [class]="i==0 ? 'carousel-item active':'carousel-item' "  >
			<img
				[src]="movie.path"
				class="d-block w-100"
				alt="..."			/>
			
		</div>
	</div>
	<button
		class="carousel-control-prev"
		type="button"
		data-bs-target="#carouselExampleControls"
		data-bs-slide="prev"
	>
		<button [disabled]="numberOfMovies>=20 "  class="carousel-control-prev-icon" aria-hidden="true" (click)=returnMovie(numberOfMovies+1)></button>
		<span class="visually-hidden">Previous</span>
	</button>
	<button
		class="carousel-control-next"
		type="button"
		data-bs-target="#carouselExampleControls"
		data-bs-slide="next"
	>
		<button   class="carousel-control-next-icon" aria-hidden="true" (click)=getMoreMovie(numberOfMovies) ></button>
		<span class="visually-hidden"  >Next</span>
	</button>
</div>

<ng-template #messageThereIsNoData>
	<div class="alert alert-danger mt-5 mx-4" role="alert">
		There is no data
	</div>
</ng-template>
